PySide6==6.6.2
kivy[base]==2.2.1 #; sys.platform!='win32'
# kivy==2.2.1; sys.platform=='win32'
# kivy.deps.sdl2==0.6.0; sys.platform=='win32'
numpy==1.26.4
matplotlib==3.8.2
scipy==1.14
pyroomacoustics==0.7.7 #; sys.platform!='linux'
netgen-mesher==6.2.2301; sys.platform!='linux'
