#PySide6==6.10.2
PySide6==6.11.1
#shiboken6==6.11.1
#numpy==1.26.4
matplotlib==3.11.1
scipy==1.18.0
pyroomacoustics==0.10.1 ; sys.platform!='linux'
psutil==7.2.2
#netgen-mesher==6.2.2406.post119.dev1; sys.platform!='linux'
